.body{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100dvw;
    height: 8dvh;
    background-color: #0B1B2B;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
}

.content{
    width: 100dvw;
    height: 92dvh;
    display: flex;
    flex-direction: row;
}