.body{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100dvw;
    height: 8dvh;
    background-color: #0B1B2B;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
}

.content{
    width: 100dvw;
    height: 92dvh;
    display: flex;
    flex-direction: row;
}

.chatInfo{
    display: flex;
    flex-direction: column;
    width: 70dvw;
    height: 92dvh;
    justify-content: space-between;
}

.chatInfoHeader{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0E2235;
    color: white;
    padding: 0px 20px 0px 10px;
}

.chatInfoHeaderProfile{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chatInfoHeaderProfileInfo{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 0.75dvw ,1rem);
    font-weight: bold;
    font-family: var(--font-inter);
    justify-content: center;
    gap: 5px;
}

.chatInfoHeaderProfileInfo p{
    font-size: clamp(0.5rem, 0.6dvw ,1rem);
    color: #ffffffD9;
}

.chatInfoHeaderIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.chatInfoMessages{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    gap: 5px;
    padding: 5px;
}

.chatInfoMessages::-webkit-scrollbar{
    width:7px;
}

.chatInfoMessages::-webkit-scrollbar-track{
    background: transparent;
}

.chatInfoMessages::-webkit-scrollbar-thumb{
    background: radial-gradient(ellipse at top,#00B78AB3, #008BBEB3);
    border-radius: 30px;
    border: 2px solid transparent;
}

.chatInfoMessagesSpacer{
    flex: 1 0 auto;
}

.chatInfoMessageImageText{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3px;
}

.chatInfoMessagesMessageUser{
    width:fit-content;
    max-width: 48%;
    padding: 2px 10px;
    color: #FFFFFFD8;
    font-family: var(--font-inter);
    background: linear-gradient(to right,#00B78AB3, #008BBEB3);
    border-radius: 15px 0px 15px 15px;
}

.chatInfoMessagesMessageOther{
    width:fit-content;
    max-width: 48%;
    padding: 2px 10px;
    color: #FFFFFFD8;
    font-family: var(--font-inter);
    background-color: #0B1B2B;
    border-radius: 0px 15px 15px 15px;
}

.chatInfoMessagesMessageContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.chatInfoMessagesMessageContentWithName{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.messageName{
    color: white;
    font-size: clamp(0.75rem, 0.85dvw ,1rem);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messageText{
    width: 100%;
    font-size: clamp(0.75rem, 0.90dvw ,1rem);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messageTime{
    font-size: clamp(0.5rem, 0.65dvw ,0.75rem);
    color: #ffffffa8;
    float: right;
    margin: 7px 0px 0px 20px;
}

.chatInfoSendMessage{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #0E2235;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
}

.inputWrapperSendMessage{
    position: relative;
    height: auto;
    width: 100%;
}

.inputWrapperSendMessageIcon {
  position: absolute;
  left: 96%;
  top: 28%;
  pointer-events: none;
  width: clamp(1rem, 1.5dvw ,3rem);
}

.inputWrapperSendMessage Input{
    padding-right: 40px;
}