.body{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100dvw;
    height: 8dvh;
    background-color: #0B1B2B;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
}

.content{
    width: 100dvw;
    height: 92dvh;
    display: flex;
    flex-direction: row;
}

.sideBar{
    width: 8dvh;
    height: 92dvh;
    background-color: #0B1B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.sideBarIcons{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.backGroundColorChatsDiv{
    width: 28dvw;
    height: 92dvh;
    background-color: #0B1B2B
}

.chatsDiv{
    height: 100%;
    width: 100%;
    background-color: #0E2235;
    border-radius: 30px 0px 0px 30px;
}

.chatInfo{
    display: flex;
    flex-direction: column;
    width: 70dvw;
    height: 92dvh;
    justify-content: space-between;
}

.chatInfoHeader{
    width: 100%;
    height: 8%;
    background-color: #0E2235;
}

.chatInfoMessages{
    width: 100%;
    height: 84%;
}

.chatInfoSendMessage{
    width: 100%;
    height: 8%;
    background-color: #0E2235;
}